
/* HEADER */
a
{text-decoration: none;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:black;
margin: 50px} 

h1 {

    color:black
} 

h2 {

    color:black

} 

h3 {

    color:blue

} 


header {

    background-color:lavender;
    text-align: center;

}

body {
    background-color: lightpink
}




.textoInicio {}  

menu{
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    

}  


 

/* form {
    text-align: center;
    background-color:lavender
} */
/* NUEVO FORMULARIO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin-bottom: 0px;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background-color:antiquewhite;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(161, 32, 253, 0.358);
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 20px;
    
}

.contenedor h4{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.control{
    width: 100%;
    background-color: #1f989c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.botonForm{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border-radius: 4px;
    border:none;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(to left top, #005aa7,#fffde4);
    font-size: 20px;
}

.botonForm:hover{
    cursor:pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.botonForm:active{
    transform:translateY(3px);
}

.control:focus{
    height: 60px;
}

footer {
    background-color:lavender;
    text-align: center;
}